<!--
    author: Fatih Erikli
    e-mail: fatiherikli@gmail.com
    web: fatiherikli.com
-->
<!DOCTYPE html>
<html>
<head>
    <title>{{ quote.author }} der ki; {{ quote.quote }}</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="quote">
    {{ quote.quote|linebreaksbr }}
    <small>{{ quote.author }}</small>
</div>
<a href="/" id="random">değiştir</a>
<img alt="{{ quote.author }}" src="{{ quote.picture.url }}">
<div id="pattern"></div>

<!-- google analytics -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31679999-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
